* {
    box-sizing: border-box;
}

.fullCenter {
    background-color: rgb(125, 105, 73);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#formulario {
    background-color: rgb(246, 255, 187);
    width: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}